@import "tailwindcss";

@theme {
  --font-text: var(--font-fragment);

  --color-night: rgba(8, 3, 30, 1);
  --color-star: #FFFFEE;
}

* {
  cursor: url('/star.png'), auto;
}


#about-open,
#about-close {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  color: white;
}

#about-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 3, 30);
  display: none;
  opacity: 0.9;
}

#about-content {
  max-width: 600px;
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 12px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}